body {
  background-color: #477C67;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#000
}
#IMGSTARTSITE
{
  height: 500px;
  width: 800px;
}
#AVATAR{
  height: 300px;
  width: 300px;
}
